@{
    ViewBag.Title = this.LocalResources("Titulo");
}
<div style="float: left; margin-right: 40px;">
    <p><strong>Linguagem do navegador:</strong>&nbsp;@ViewBag.BrowserCulture
        <br />
        <strong>Cultura selecionada:</strong>&nbsp;@ViewBag.Culture
    </p>
</div>
<div style="float: left;">
    <p><strong>Exemplo de mensagem Global:</strong>&nbsp;@Resources.Global.MensagemGlobal
        <br />
        <strong>Exemplo de mensagem Local:</strong>&nbsp;@this.LocalResources("MensagemLocal")
    </p>
</div>
<div class="clear">
</div>
<br />
